body {
    color: #220C10;
    background-color: #CDD3D5;
}

h1, h2, h3, h4 {
    color: #506C64;
}

.btn {
    background-color: #220C10;
}

.cult-gang {
    opacity: .5;
    width: 170%;
}

.main-title {
    color: ghostwhite;
    font-weight: 800;
}

.sub-title {
    color: ghostwhite;
}