@{
    ViewData["Title"] = "Home Page";
}

<div>

</div>

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center teal-text text-lighten-2">Cult.ure.Club</h1>
            <div class="row center">
                <h5 class="header col s12 light">Explore Film</h5>
            </div>
            <br><br>

        </div>
    </div>
</div>


<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">stars</i></h2>
                    <h5 class="center">Rate Your Favorites</h5>

                    <p class="light">You like movies, right? And who doesn't like assigning numerical values to how much they like things? Ok, we're mostly joking. But when you rate movies here we use that to figure out new things you'll like.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">swap_horiz</i></h2>
                    <h5 class="center">See Your Preferences</h5>

                    <p class="light">It's not just about rating your favorites, though. See how your tastes relate to other people, and get a visual representation of the movies you might like. (We're working on this part.)</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">movie_filter</i></h2>
                    <h5 class="center">Get Weird, Faster</h5>

                    <p class="light">This isn't about finding out which blockbusters go well with popcorn, this is about drilling deep into the heart of strangeness and finding those peculiar films you love the most. Our tagging and categorization tools help you find your favorite micro-genres.</p>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="~/js/chart.js"></script>