@model CultureClub.Models.Movie
@using CultureClub.Models
@{

}
<h2>Add a Rating</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.MovieId)
    @Html.DropDownList("Rating",
                        new SelectList(Enum.GetValues(typeof(ScoreNumber))),
                        "Select Star Rating")

    <input type="submit" value="Rate This" class="btn btn-default" />
}